In [8]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint

In [9]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [10]:
# confirm that the "petsitly_marketing" database is in MongoDB
print(mongo.list_database_names())

['admin', 'classDB', 'config', 'epa', 'fruits_db', 'garden_db', 'local', 'petsitly_marketing']

In [11]:
# assign the database to a variable name
db = mongo['petsitly_marketing']

In [12]:
# review the collections in our new database
print(db.list_collection_names())

['customer_list']

In [13]:
# assign the collection to a variable
customers = db['customer_list']

In [15]:
# Create a query that finds the customers who had over 50 visits in 2021
query = {'2021_Visits': {'$gt': 50}}

# Capture the results to a variable
results = customers.find(query)

# Pretty print the first two results
for k in range(2):
    pprint(results[k])

{'2021_Total_Spend': 1638.75,
 '2021_Visits': 95,
 'Address': '5221 Christopher Landing Suite 898',
 'Customer_First': 'Malvin',
 'Customer_Last': 'Keeling',
 'Email': 'udavis@hotmail.com',
 'Pet_Type': 'fish',
 '_id': ObjectId('647e1b0974187e8e783e0248')}
{'2021_Total_Spend': 1483.5,
 '2021_Visits': 86,
 'Address': '096 Jimenez Turnpike Apt. 451',
 'Customer_First': 'Leesa',
 'Customer_Last': 'White',
 'Email': 'kmassey@gmail.com',
 'Pet_Type': 'cat',
 '_id': ObjectId('647e1b0974187e8e783e0249')}

In [16]:
# Create a query that finds the customers who spent $250 or less in 2021

query = {'2021_Total_Spend': {'$lte': 250}}

# Capture the results to a variable
results1 = customers.find(query)

# Pretty print the first two results
for i in range(2):
    pprint(results1[i])

{'2021_Total_Spend': 172.5,
 '2021_Visits': 10,
 'Address': '68369 Harris Motorway Apt. 444',
 'Customer_First': 'Braulio',
 'Customer_Last': 'Daniel',
 'Email': 'georgedavid@yahoo.com',
 'Pet_Type': 'dog',
 '_id': ObjectId('647e1b0974187e8e783e0252')}
{'2021_Total_Spend': 224.25,
 '2021_Visits': 13,
 'Address': '8959 Juan Courts',
 'Customer_First': 'Terrence',
 'Customer_Last': 'Trantow',
 'Email': 'ujohnson@hotmail.com',
 'Pet_Type': 'fish',
 '_id': ObjectId('647e1b0974187e8e783e0254')}

In [18]:
# Create a query that finds the customer(s) who live in an apartment with "Suite" in the address
query = {'Address': {'$regex': "Suite"}}

# Capture the results to a variable
results11 = customers.find(query)

# Pretty print the first two results
for j in range(3):
    pprint(results11[j])

{'2021_Total_Spend': 1638.75,
 '2021_Visits': 95,
 'Address': '5221 Christopher Landing Suite 898',
 'Customer_First': 'Malvin',
 'Customer_Last': 'Keeling',
 'Email': 'udavis@hotmail.com',
 'Pet_Type': 'fish',
 '_id': ObjectId('647e1b0974187e8e783e0248')}
{'2021_Total_Spend': 448.5,
 '2021_Visits': 26,
 'Address': '5359 Wilson Trafficway Suite 562',
 'Customer_First': 'Grady',
 'Customer_Last': 'Wyman',
 'Email': 'garciaangela@yahoo.com',
 'Pet_Type': 'cat',
 '_id': ObjectId('647e1b0974187e8e783e024a')}
{'2021_Total_Spend': 862.5,
 '2021_Visits': 50,
 'Address': '827 Juarez Radial Suite 343',
 'Customer_First': 'Dora',
 'Customer_Last': 'Walter',
 'Email': 'kristine10@gmail.com',
 'Pet_Type': 'turtle',
 '_id': ObjectId('647e1b0974187e8e783e0253')}

In [19]:
# Create a query that finds the customers who have turtles or fish
query = {'Pet_Type': {'$in': ['turtle','fish']}}

# Capture the results to a variable
result = customers.find(query)

# Pretty print the first two results
for j in range(3):
    pprint(result[j])

{'2021_Total_Spend': 1638.75,
 '2021_Visits': 95,
 'Address': '5221 Christopher Landing Suite 898',
 'Customer_First': 'Malvin',
 'Customer_Last': 'Keeling',
 'Email': 'udavis@hotmail.com',
 'Pet_Type': 'fish',
 '_id': ObjectId('647e1b0974187e8e783e0248')}
{'2021_Total_Spend': 448.5,
 '2021_Visits': 26,
 'Address': '34500 Acevedo Plains',
 'Customer_First': 'Consuela',
 'Customer_Last': 'Kunze',
 'Email': 'ycruz@gmail.com',
 'Pet_Type': 'turtle',
 '_id': ObjectId('647e1b0974187e8e783e0250')}
{'2021_Total_Spend': 862.5,
 '2021_Visits': 50,
 'Address': '827 Juarez Radial Suite 343',
 'Customer_First': 'Dora',
 'Customer_Last': 'Walter',
 'Email': 'kristine10@gmail.com',
 'Pet_Type': 'turtle',
 '_id': ObjectId('647e1b0974187e8e783e0253')}